.togle_log{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .royhat{
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
      justify-content: center;
      
      input{
        border: none  ;
        border-bottom: 1px solid black;
        font-size: 20px;
        padding: 5px 10px;
      }
      button{
        border: none;
        background-color: #100135;
        color: #fff; 
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        padding: 8px 25px;
      }
    }
    .change_txt{
      font-size: 16px;
      span{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }

  .show_error,.show_response{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    width: 260px;
    word-spacing: 3px;
    letter-spacing: 1px;
  }

  .show_error{
    background-color: #ff0037;
  }

  .show_response{
    background-color: #00ff22;
  }