.mainPage {
  width: 1300px;
  margin: 50px auto;
}

.grp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
  margin-bottom: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #100130;
  .all_furniture{
    background-color: #0c0481ec;
    font-size: 18px;
    padding: 8px 15px;
    font-weight: 500;
    color: #fff;
    border: none;
  }
  .new_furniture {
    background-color: #048104ec;
    font-size: 18px;
    padding: 8px 15px;
    font-weight: 500;
    color: #fff;
    border: none;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #100130;
    input {
      border: none;
      background-color: none;
      color: #100130;
      padding: 8px 15px;
      font-size: 18px;
    }
    button {
      padding: 8px 15px;
      border: none;
      border-left: 1px solid gray;
      background: #100130;
      color: #fff;
      font-size: 18px;
    }
  }
}

.pagination_part{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  p{
    font-size: 17px;
    padding: 5px 7px;
    background-color: black;
    color: white;
    font-weight: 600;
  }
  .active_page{
    border: 1px solid black;
    background: none;
    color: black;
    padding: 4px 6px;
  }
}

.data_body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


@media(max-width:1310px){
  .mainPage{
    width: 100%;
  }

  .grp{
    flex-wrap: wrap;
  }
  
}